{% assign all_tools = site.data.tools | sort_natural: "title" %}
{% assign tools = "" | split: "" %}
{% for tool in all_tools %}
  {% if tool.type contains include.type %}
    {% assign tools = tools | push: tool %}
  {% endif %}
{% endfor %}

<table>
  <tr>
    <th nowrap="nowrap">Name/Link</th>
    <th nowrap="nowrap">Owner</th>
    <th nowrap="nowrap">License</th>
    <th nowrap="nowrap">Platforms</th>
    <th nowrap="nowrap">Note</th>
  </tr>
{% for tool in tools %}
  <tr>
    <td><a href="{{tool.url}}">{{ tool.title }}</a></td>
    <td>{{ tool.owner }}</td>
    <td>{{ tool.license }}</td>
    <td>{{ tool.platforms }}</td>
    <td>{{ tool.note }}</td>
  </tr>
{% endfor %}
</table>

