{% if include.video %}
  <a 
    href="{{ include.video }}"
    aria-label="youtube video" 
    target="_blank" 
    rel="noopener noreferrer"
  >
    <i class="fas fa-lg fa-video"></i>
  </a>
{% else %}
  <i class="fas fa-lg fa-video"></i> [Video Pending]
{% endif %}